// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000;
// Grays
$gray-5b: #5b5b5b;
$gray-65: #65646b;
$gray-89: #898574;
$gray-be: #bebebe;
$gray-c2: #c2c0b8;
$gray-c4: #c4c2b9;
$gray-f4: #f4f3f0;
$gray-f9: #f9edd3;
$gray: #66656c;
// White
$white: #fff;
// Silvers
$silver: #ccc;
// Blues
$blue: #51788d;
// Oranges
$orange-f39: #f39f56;
$orange-f3: #f37735;
$orange: #f17735;
// Teals
$teal-dc: #dce4e7;
$teal-f3: #f3f5f6;
$teal: #6bae92;
// Fetas
$feta: #f9fcec;
// Reds
$red: #8c211e;
// Other
$pigeon-post: #aec9de;
$pigeon-post-light: rgba($pigeon-post, .75);
// Base colors
$primary-color: $orange;
$text-color: $gray;
