{% block button %}
<div class="container">
  <p><a class="btn" href="#">Default</a></p>
  <p><a class="btn btn--solid-orange" href="#">Solid Orange</a></p>
  <p><a class="btn btn--outline-blue" href="#">Outline Blue</a></p>
  <p><a class="btn btn--solid-blue" href="#">Solid Blue</a></p>
  <p><a class="btn btn--outline-teal" href="#">Outline Teal</a></p>
  <p><a class="btn btn--solid-teal" href="#">Solid Teal</a></p>
</div>
{% endblock %}
